:root{
    --edge-block:24%;
    --middle-block:calc(100% - calc(2*var(--edge-block)));
}
*{
    margin:0;
    padding:0;
}
html{
    width:100%;
    height:100%;
}
body{
    margin:0;
    padding:0;
}
body,.container{
    width:inherit;
    height:inherit;
}

.container>div{
    height:inherit;
}

.container>div:first-child{
    float: left;
    width:40%;
    position:relative;
}
.container>div:last-child{
    display:inline-block;
    width:60%;     
}

/*FIRST CHILD*/
.container>div:first-child>img{
    width:100%;
    height:inherit;
}
.container>div:first-child .logo-block{
    width:100%;
    height:9rem;
    display:flex;
    flex-direction: row;
    position:absolute;
    top: 12rem;
    background-color: rgba(5, 5, 5, 0.432);
   
}
    /*LOGO BLOCK*/
.logo-block .flex-item-1{
    flex-grow: 0.5;
}
.logo-block .flex-item-1 img{
    
    float:right;
    margin-top: 1rem;
    width:100px;
    height: 100px;
}
.logo-block .flex-item-2 h2{
    color: white;
    padding-top: 2rem;
}
.logo-block .flex-item-2 .credit{
    float:right;
    position:relative;
    color: white;
    font-size: smaller;
}

    /*LOGO BLOCK*/
/*FIRST CHILD*/

/*SECOND CHILD*/
.container>div:last-child > div{
    display:block;
    width:100%; 
}
.container>div:last-child > div > div{/*position inner content of each child*/
    width:85%;
    position:relative;
    left:2rem;
    top:2rem;

}
.container>div:last-child>.edge-block{
    height:var(--edge-block);
    background: rgb(219, 214, 214);
    overflow:hidden;/*Avoid parent positioning along with child's*/
    
    
}
.container>div:last-child>div:not(.edge-block){
    height:var(--middle-block);
}
    /*TOP/BOTTOM BLOCKS*/

.edge-block h2, .edge-block button{
    margin-top: 1rem;
}
.edge-block p{
    margin-top: 2rem;
}
.edge-block p+p{
    color: green;
}
.edge-block button{
    display:block;
    width:30%;
    height:3rem;
    border-radius: 15px;
    background-color: green;
    color: white;
    text-align: center;
}
.edge-block p{
    display:inline-block;
    font-size: medium;
}
    /*TOP/BOTTOM BLOCKS*/
    /* MIDDLE BLOCK*/
    .form-container{
        display:flex;
        flex-direction: row;
        gap:4rem;
        margin-top:1rem;
        
    }
    .form-container fieldset{
        border:hidden;
        flex-basis: 400px;
    }
    .form-container label{
        display:block;
        margin-top: 2rem;
        font-size: medium;
        font-weight: lighter;
    }
    .form-container input{
        width:100%;
        height:2rem;
        border-radius: 5px;
    }
    .form-container input:invalid {
        border-color: red;
      }
      
      .form-container input:valid {
        border-color: green;
      } 
    
    /* MIDDLE BLOCK*/

/*SECOND CHILD*/
